<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div>
            <form action="/blogview/<%= b.id %>?_method=put" method="post">
             <input type="text" name="blogTitle" id=""value="<%=b.blogTitle %>">     
            <textarea name="blog"><%= b.blog%></textarea>
            <input type="text" name="blogPostedBy" value="<%=b.blogPostedBy %>">
            <input type="text" name="headerImg" value="<%= b.headerImg %>">  
            <% for( let url of b.contentImg ){ %>
            <input type="text" name="contentImg" value="<%=  url %>">
            <% } %>
           
                <button>edit</button>
            </form>
            
        </div>
       
    
</body>
</html>