<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for( let blog of blogs ){ %>
        <div>
            <form action="delete/<%= blog.id %>" method="post">
            <h1><%=blog.blogTitle %></h1>
            <p><%= blog.blog%></p>
            <p>posted by:<%=blog.blogPostedBy %></p>
            <p>header img src:<%= blog.headerImg%> </p>
            <% for( let url of blog.contentImg ){ %>
            <p><%=  url %></p>
            <% } %>
            <a href="view/<%= blog.id %>">edit</a>
           
                <button>delete</button>
            </form>
        </div>
        <% } %>
    
</body>
</html>